#wiser_timezone_container {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  /* Layout */
  width: 100%;
}
#wiser_timezone_container.force {
  /* Position */
  position: fixed;
  /* Layout */
  height: 100%;
  text-align: center;
}
#wiser_timezone_container #wiser_timezone_cover {
  display: none;
}
#wiser_timezone_container.force #wiser_timezone_cover {
  /* Position */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  /* Layout */
  width: 100%;
  height: 100%;
  opacity: 0.95;
  /* Background */
  background-color: #222;
}
#wiser_timezone_container #wiser_timezone_space {
  /* Layout */
  padding: 10px 15px;
  line-height: 1.2em;
  opacity: 0.95;
  cursor: default;
  /* Font */
  font-family: Lucida Sans, 'Liberation Sans', 'DejaVu Sans', sans-serif;
  color: #555;
  font-size: 13px;
  /* Border */
  border-bottom: 1px solid #ddd;
  /* Background */
  background: #f5f9ff;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.50);
}
#wiser_timezone_container.force #wiser_timezone_space {
  /* Layout */
  display: inline-block;
  opacity: 0.85;
  margin: 90px auto 0;
  max-width: 330px;
  padding: 30px 20px;
  z-index: 2;
  /* Font */
  text-align: center;
  font-size: 15px;
}
#wiser_timezone_container #wiser_timezone_space a {
  /* Font */
  text-decoration: none;
  color: #6fa8c9;
}
#wiser_timezone_container #wiser_timezone_space a:hover {
  /* Font */
  text-decoration: none;
  color: #3e5e71;
}
.no_wrap {
  white-space: nowrap;
}